table {
   table-layout: fixed;     /* 固定レイアウト */
   border: 2px solid green;   /* 外枠：2px,実線,緑色 */
   width: 100%;              /* 表の横幅：350ピクセル */
}
table td {
   border: 1px solid green; /* 表内側の線：1px,実線,緑色 */
   padding: 3px;            /* セル内側の余白：3ピクセル */
}
body{
background-color: #e6eae3;
}
