<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>CAMUのグラフ</title>
<link rel="stylesheet" href="../static/delete.css" type="text/css">
</head>
<body>
<script type="text/javascript">
<!--

function poron(){

    // 「OK」時の処理開始 ＋ 確認ダイアログの表示
    if(window.confirm('本当に削除しますか？')){

        window.alert('削除します');
        return true;

    }else{

        window.alert('キャンセルされました'); // 警告ダイアログを表示
        return false;

    }
    // 「キャンセル」時の処理終了

}

// -->
</script>

<img src="/static/camu_logo.png" align="right" width="150">
<br><br><br><br>
<form>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/touroku'">登録画面に行く</button>
</form>
<hr>

<form>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/today'">今日のグラフ</button><hr>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/all'">今日の削除画面</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/all/past/1'">昨日の削除画面</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/all/past/2'">一昨日の削除画面</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/all/past/3'">一昨昨日の削除画面</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/all/past/4'">４日前の削除画面</button>
</form>
<hr>
<h2>削除画面</h2>
<h3>「削除する」ボタンを押すと項目が削除されます</h3>
<hr>

    {{ dele|safe }}


<footer>
    <hr>
    Copyright(C) 2017 Tsunehisa Sudo (rokuden) All Rights Reserved.
</footer>
</body>
</html>
