<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>CAMUのグラフ</title>
<link rel="stylesheet" href="/static/main.css" type="text/css">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js">
</script>


<script type = "text/javascript">
<!--
 function Display(no){
  
     if(no == "no1"){
  
         document.getElementById("USER_VIEW").style.display = "block";
         document.getElementById("TASK_VIEW").style.display = "none";
  
     }else if(no == "no2"){
  
         document.getElementById("USER_VIEW").style.display = "none";
         document.getElementById("TASK_VIEW").style.display = "block";
  
     }
  
 }
 -->
</script>

<br><br><br><br>
<form>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/touroku'">登録画面に行く</button>
</form>
<hr>

<form>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/today'">今日のグラフを見る</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/past/1'">昨日のグラフを見る</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/past/2'">一昨日のグラフを見る</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/past/3'">一昨昨日のグラフを見る</button>
    <button type="button" onclick="location.href='http://ccx20.sfc.keio.ac.jp:9990/past/4'">４日前のグラフを見る</button>
</form>
<hr>

<div id="USER_VIEW">
    <h2>USER VIEW</h2>
    <h3><a href="javascript:;" onclick="Display('no2')"><button type="button">TASK_VIEWを見る</button></a></h3>
    <h3>種類の凡例</h3><p><span style="background-color:#e9dfe5;">自分のためのこと</span><span style="background-color:#deb068;">家族の誰かのためのこと</span><span style="background-color:#cc7eb1;">家族全員のためのこと</span><span style="background-color:#915c8b;">社会のためのこと</span></p>
    <table border>
        <td>属性\TIME</td>
        {% for n in range(24) %}<!--時刻を生成 -->
        <td>{{n+1}}:00</td>
        {% endfor %}

        {% for greeting in greeting_list %}
        <tr>
            {% if greeting.zokusei == "tuma" %}
            <td bgcolor="#ffd700">妻
            {% elif greeting.zokusei == "otto" %}
            <td bgcolor="#87ceeb">夫
            {% elif greeting.zokusei == "chonan" %}
            <td bgcolor="#adff2f">長男
            {% elif greeting.zokusei == "jinan" %}
            <td bgcolor="#7fffd4">次男
            {% else %}
            <td>{{ greeting.zokusei }}
            {% endif %}
            </td>
            {% for n in range(greeting.create_hour - 1) %}<!--タスクの時間までの空白 -->
            <td>
                &nbsp;
            </td>
            {% endfor %}
            {% if greeting.shurui == "jibun" %}
            <td bgcolor="#e9dfe5">
                {{ greeting.title }}
            </td>
            {% elif greeting.shurui == "dareka" %}
            <td bgcolor="#deb068">
                {{ greeting.title }}
            </td>
            {% elif greeting.shurui == "zennin" %}
            <td bgcolor="#cc7eb1">
                {{ greeting.title }}
            </td>
            {% elif greeting.shurui == "shakai" %}
            <td bgcolor="#38b48b">
                {{ greeting.title }}
            </td>
            {% else %}
            <td bgcolor="#915c8b">
                {{ greeting.title }}
            </td>
            {% endif %}
            {% for i in range(24 - greeting.create_hour)%}
            <td>
                &nbsp;
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>
<div id="TASK_VIEW" style="display:none;">
    <h2>TASK VIEW</h2>

    <h3><a href="javascript:;" onclick="Display('no1')"><button type="button">USER VIEWを見る</button></a></h3>
    <h3>種類の凡例</h3><p><span style="background-color:#e9dfe5;">自分のためのこと</span><span style="background-color:#deb068;">家族の誰かのためのこと</span><span style="background-color:#cc7eb1;">家族全員のためのこと</span><span style="background-color:#915c8b;">社会のためのこと</span></p>
    <table border>
        <td>タイトル\TIME</td>
        {% for n in range(24) %}
        <td>{{n+1}}:00</td>
        {% endfor %}
        {% for greeting in greeting_list %}
        <tr>
            {% if greeting.shurui == "jibun" %}
            <td bgcolor="#e9dfe5">
                {{ greeting.title }}
            </td>
            {% elif greeting.shurui == "dareka" %}
            <td bgcolor="#deb068">
                {{ greeting.title }}
            </td>
            {% elif greeting.shurui == "zennin" %}
            <td bgcolor="#cc7eb1">
                {{ greeting.title }}
            </td>
            {% elif greeting.shurui == "shakai" %}
            <td bgcolor="#38b48b">
                {{ greeting.title }}
            </td>
            {% else %}
            <td bgcolor="#915c8b">
                {{ greeting.title }}
            </td>
            {% endif %}
            {% for n in range(greeting.create_hour - 1) %}
            <td>
                &nbsp;
            </td>
            {% endfor %}
            {% if greeting.zokusei == "tuma" %}
            <td bgcolor="#ffd700">妻
            {% elif greeting.zokusei == "otto" %}
            <td bgcolor="#87ceeb">夫
            {% elif greeting.zokusei == "chonan" %}
            <td bgcolor="#adff2f">長男
            {% elif greeting.zokusei == "jinan" %}
            <td bgcolor="#7fffd4">次男
            {% else %}
            <td>{{ greeting.zokusei }}
            {% endif %}
            </td>
            {% for i in range(24 - greeting.create_hour)%}
            <td>
                &nbsp;
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>
<footer>
    <hr>
    Copyright(C) 2017 Tsunehisa Sudo (rokuden) All Rights Reserved.
</footer>
</body>
</html>
